<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.imagemarker">

    <!-- 获取联网请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- tools:replace="android:icon, android:theme" -->
        <!-- Mob注册声明 -->
        <activity android:name="com.mob.tools.MobUIShell">
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <!-- <activity -->
        <!-- android:name="cn.sharesdk.wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- QQ第三方登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105819277" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activitys.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.home.HomeActivity" />
        <activity android:name=".activitys.user.UserResetPassActivity" />
        <activity android:name=".activitys.user.UpdateUserMessageActivity" />
        <activity android:name=".activitys.history.HistoryRecordActivity" />
        <activity android:name=".activitys.user.UserMissionActivity" />
        <activity android:name=".activitys.imagscan.PictureGroupScanFragment" />
        <activity android:name=".activitys.saying.SendMoodActivity" />
        <activity android:name=".activitys.saying.SayingScanActivity" />
        <activity android:name=".activitys.user.FeedBackActivity" />
        <activity android:name=".activitys.user.UserSearchActivity" />
        <activity
            android:name=".activitys.tasks.UserTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.imagscan.LookPictureActivity" />
        <activity android:name=".activitys.home.MoreCategoryActivity" />
        <activity android:name=".activitys.mark.MarkHomeActivity" />
        <activity android:name=".activitys.tasks.UserTaskOverViewActivity" />
        <activity
            android:name=".activitys.imagscan.ImgScanMainActivity"
            android:theme="@style/UserCoordinatorLayout" />
        <activity android:name=".activitys.home.SplashActivity" />
        <!--<activity android:name=".activitys.integral.IntegralActivity" />-->
        <activity
            android:name=".activitys.integral.LuckDrawActivity"
            android:theme="@style/LuckDrawActivity" />
        <activity android:name=".activitys.hobby.HobbyMainActivity" />
        <activity android:name=".activitys.hobby.HobbySelectActivity" />
        <activity android:name=".activitys.integral.IntegralMainActivity" />
        <activity android:name=".activitys.hobby.HobbyActivity"></activity>
    </application>

</manifest>